
@keyframes glow_err {
    0% {background-color: #f06f59; border-color: #0a4ac9; border-radius: 2px;}
    100% {background-color: #cf3862; border-color: #c30ac9; border-radius: 10px;}
}

@font-face {
    font-family: terminal;
    src: url('./../res/terminal_bold.ttf');
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: lora;
    text-align: center;
}

body {
    background-color: #efefef;
}

#page_title {
    padding: 20px;
    text-decoration: underline;
}

.descript_title {
    text-decoration: underline;
    font-weight: bolder;
    font-size: 120%;
    margin: 10px;
}

.selected_subjects {
    background-color: #ffc9d4;
    color: #000;
    padding: 5px;
    margin: 5px;
    border: 2px solid #e81a43;
    border-radius: 5px;

    cursor: pointer;
}

#routine_table_container {
    width: 100%;
    /* overflow: scroll; */
}

#add_subject_selection {

    font-size: 170%;
    width: 50%;
    font-weight: bolder;
    padding: 15px;
    text-align: center;
}

.show_subject_name_container {
    font-size: 70%;
    text-decoration: none;
    color: #060699;
}
input#show_subject_name_in_add {
    padding: 5px;
    height: 16px;
    width: 16px;
    border: 2px solid #555555;
    background-color: white;
    cursor: pointer;
    content: "";
}

option, select {
    padding: 15px;
    background-color: #efefef;
    border: solid;
    border-radius: 5px;
}

td.sub {
    padding: 10px;
    font-weight: bold;
    border: solid;
    border-width: 2px;
    width: 9%;
    min-width: 10%;
    height: 20px;
    overflow: hidden;
    height: 50px;
    background-color: #dedede;
    font-family: terminal;
}

td.pallet_0 {
    background-color: #cfffe8;
}
td.pallet_1 {
    background-color: #e9ffcf;
}
td.pallet_2 {
    background-color: #ffdfc9;
}
td.pallet_3 {
    background-color: #c7effc;
}
td.pallet_4 {
    background-color: #c7cafc;
}
td.pallet_5 {
    background-color: #ffc2df;
}
td.pallet_6 {
    background-color: #ffbdf9;
}
td.pallet_7 {
    background-color: #c3bdff;
}
td.pallet_8 {
    background-color: #9effad;
}
td.pallet_9 {
    background-color: #faff9e;
}
td.pallet_10 {
    background-color: #ff9ca9;
}
td.pallet_11 {
    background-color: #f292f7;
}
td.pallet_12 {
    background-color: #89fa93;
}
td.pallet_13 {
    background-color: #fcab8d;
}
td.pallet_14 {
    background-color: #ff8c8c;
}
td.pallet_15 {
    background-color: #849efa;
}
td.pallet_16 {
    background-color: #b682fa;
}
td.pallet_17 {
    background-color: #82fa9e;
}
td.pallet_18 {
    background-color: #f78393;
}
td.pallet_19 {
    background-color: #f5c47f;
}

td.multiple_subjects{


    background-color: #ff94a9;
    color: #fff;
    animation: glow_err 2s ease-in-out 0s infinite alternate;
}


td.details_td {
    padding: 5px 10px;
    border: 1px solid;
}
td.details_sub_code {
    font-family: terminal;
    padding-left: 20px;
    padding-right: 20px;
}
td.details_sub_name_even {
    font-weight: bold;
    background-color: #ececec;
}
td.details_sub_name_odd {
    font-weight: bold;
    background-color: #cdcdcd;
}
td.details_teacher_name_even {
    font-weight: bold;
    background-color: #ececec;
}
td.details_teacher_name_odd {
    font-weight: bold;
    background-color: #cdcdcd;
}
table.details_table {
    margin-left: auto;
    margin-right: auto;
}
th.details_th {
    font-size: 80%;
    padding: 4px 20px;
}
a.teacher_mail {
    text-decoration: none;
    color: #060699;
}

#tutorial {
    font-size: 60%;
}
a {
    text-decoration: none;
}